*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 1178px;
}

.section-heading{
    margin: 100px 0 100px 0;
    font-size: 53px;
}

/* Section hero started  */

.hero-text{
    padding: 0 44px 0 100px;
}
.hero-text h1{
    font-size:61px;
}
.engage-heading{
    font-size: 54px;
                                     
}
.hero-text-top-right__image{
    width: 59px;
    height: 61.3px;
}
.hero-text-bottom-right__image{
    bottom: -106px;
    right: 70.68px;
    width: 88.35px;
    height: 89.53px;
}
.hero-text-top-left__image{
    top: 0;
    left: 0;
}
.hero-text-bottom-left__image{
    bottom: -47.12px;
    left: 0;
}


/* Section: Our Process Started  */
.process-section{
    padding-top: 72px;
}
.process-card{
    flex-basis: 300px;
}
.process-card h2{
    font-size: 27px;
}



/* Success Story Section Started  */

.top-row-arrow svg{
    width: 42px;
    height: 72x;
}
.top-row-card{
    font-size: 1rem;
    width: 513px;
    height: 193px;
}
.success-story-profile-section{
    width: 151.5px;
    height: 100%;
}

.story-teller-name{
    font-size: 1.5rem;
}
.sttory-teller-location{
    font-size: 1rem;
}

.success-story-text{
    width: 361.5px;
}
.card-text-heading{
    font-size:1.3rem;
}
.success-story-text p{
    font-size: 1.1rem;
}
.rating-star{
    width: 22px;
}

.success-stories-card{
    flex-basis:450px ;
    height: 200px;
}
.success-stories-card-image{
    width: 117.8px;
    max-width: 137px;
}
.success-stories-card-image img{
    width: 90%;
}
.success-stories-card-image h3{
    font-size: 0.9rem;

}
.success-stories-card-image p{
    font-size: 0.9rem;
}

.success-stories-card-text {
    width: 330px;
    height: 100%;
}
.success-stories-card-text h3{
    font-size: 1rem;
}
.success-stories-card-text p{
    font-size: 0.8rem;
}

/* Who We Are section started  */


.profile-card{
    width: 232px;
    height: 269px;
}
.who-we-are-profile-image {
    width: 125px;
    height: 126px;
}
.profile-name {
    font-size: 26px;
}
.designation{
    font-size: 18px;
}






/* Blog Page Started  */


/* Section Hero  */
.blog-image-container{
    width: 494px;
    height: 297px;
}

.blog-image{
    width: 100%;
    height: 100%;
}
.blog-text{
    text-align: center;
    padding: 0 0;
    width: 681px;
    margin-left: 61px;

}
.blog-text h1{
    font-size:69px;
    text-align: justify;
    font-style: normal;
    font-weight: bold;
}

/* Section Post Container  */
.post{
    padding-top: 1.5rem;
}
.post-container{
    margin-top: 100px;
}
.post-writer-container{
    display: flex;
}

.post-writer h4{
    font-size: 28px;
    font-style: italic;
    color: var(--boldColor);
    font-weight: normal;

}
.post-time-container{
    display: flex;
}
.post-time-container p{
    font-size: 12px;
    font-style: italic;
}
.post-time{
    border-right: 1px solid var(--pinky);
    padding-right: 5px;
    margin-right: 5px;
}
.post-heading-container{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;;
}
.post-heading-text{
    text-align: left;

}
.post-image{
    padding-top: 20px;
}
.post-image img{
    width: 214px;
    height: 214px;
}
.post-writer-image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.post-writer-image img{
    width: 73px;
    height: 73px;
}
.post-heading-text h2{
    font-size: 51px;
    font-style: normal;
    text-align: left;
    line-height: normal;

}