
/* common style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-heading{
    margin: 8vw 0 2vw 0;
    font-size: 4vw;
    font-weight: 900;
}
h2{
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--boldColor);
}
h3{
    font-size: 1.8vw;
}
p{
    font-size: calc(0.63rem + 0.7vw);;
    font-weight: 300;
    text-align: justify;
}

.btn{
    border-radius: 0.5rem;
    padding: 0.7vw 1.2vw;
    

}
.btn-hover{
    background-color: var(--body);
    color: var(--boldColor);
}
.btn-unhover{
    background-color: var(--pinky);
    color: var(--whity);
}
/* Common Design  */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
main{
    padding: 0 3rem;
    width: 100%;
    max-width: 1178px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Nav-bar style started  */

.nav-bar{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
    max-width: 1178px;
    width: 100%;
}
nav a{
    color: var(--boldColor);
    font-family: Muli;
    font-size: 1.3vw;
    font-weight: 300;
}
.nav-logo-container{
    justify-content: space-around;
}
.nav-logo img{
    height: 2.5;
    width: 13.625rem;
    margin-bottom: 0.75rem;
}
.nav-en-bn-button-container{
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.nav-bar-menu-btn{
    display: none;
}
.nav-bar-menu{
    margin-top: 0;
    flex-direction: row;
}
.nav-bar-menu__hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-bar-menu__hidden a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin:0.1rem;
    padding: 0 0.8rem;
    height: 3rem;
    border-radius: 0.3rem;

}
#nav-menu-container{
    display: flex;
    justify-content: center;
}

.login-btn{
    width: 6.6vw;
    border-radius: 10px;
}

/* Hero image */
.hero{
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
}
.hero-image{
    width: 50%;
    position: relative;
}
.love-image{
    position: absolute;
    width: 78px;
    height: 62px;
}
.hero-text{
    width: 50%;
    padding: 0 3.75vw 0 8.75vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hero-text h1{
    font-size: 5.4vw
}
.engage-heading{
    font-size: calc(40px + 1vw);
                                     
}
.hero-text-top-right__image, 
.hero-text-bottom-right__image, 
.hero-text-top-left__image, 
.hero-text-bottom-left__image {
    display: inline-block;
    position: absolute;
    z-index: -1;
    }
.hero-text-top-right__image{
    top: 0;
    right: 0;
    width: 5vw;
    height: 5.2vw;
}
.hero-text-bottom-right__image{
    bottom: -9vw;
    right: 6vw;
    width: 7.5vw;
    height: 7.6vw;
}
.hero-text-top-left__image{
    top: 0;
    left: 0;
}
.hero-text-bottom-left__image{
    bottom: -4vw;
    left: 0;
}

/* Section: Our Process Started  */
.process{
    flex-direction: row;
    justify-content: space-between;

}
.process-card{

    flex-basis: 20vw;
    height: 25vw;
    max-height: 250px;
    padding:0;
    color: var(--lightColor);
    background-color: #f8f8f8;
    box-shadow: -0.6px -0.8px 22.5px 2.5px #f8f8f8;
}
.process-card__image{
    width: 7.3vw;
    max-width: 100px;
    height: 8.6vw;
    max-height: 118px;

}
.process-card h2{
    margin: 1rem 0;
    font-size: 1.94vw;
}

/* Success Story Section Started  */

.success-stories-top-row{

    flex-direction: row;

}
.top-row-arrow{
    display: flex;
    align-items: center;
}
.top-row-arrow img{
    width: 7vw;
    height: 12vw;
}
.top-row-card{
    flex-direction: row;
    font-size: 1.5vw;
    width: 44vw;
    max-width: 513px;
    min-width: 25rem;
    height: 20vw;
    max-height: 193px;
    border-radius: 27.7px;
    box-shadow: -0.6px -0.8px 26.3px 8.8px rgba(10, 34, 57, 0.13);
}
.success-story-profile-section{
    text-align: center;
    width: 9.8vw;
    max-width: 151.5px;
}
.story-teller-image{
    width:80%;
    height: auto;
}
.success-story-text{
    text-align: center;
    width: 32vw;
    max-width: 361.5px;
    min-width: 19rem;
    padding: 0.3rem;
    height: 100%;
    overflow: hidden;
}
.card-text-heading{
    font-size: calc(10px + 0.6vw);
}

.rating-star{
    width: 1.8vw;
    max-width: 25px;
}
.success-stories-bottom-row{
    flex-direction: row;
    justify-content: space-between;
}
.success-stories-card{
    margin: 0;
    flex-direction: row;
    flex-basis:38vw ;
    max-width:521px;
    height: 17vw;
    max-height: 233px;
    border-radius: 27.7px;
    box-shadow: -0.6px -0.8px 26.3px 8.8px rgba(10, 34, 57, 0.13);
    overflow: hidden;
    background-color: var(--whity);
}
.success-stories-card-image{
    width: 10vw;
    max-width: 137px;
    text-align: center;
}
.success-stories-card-image img{
    width: 9vw;
    max-width: 123.5px;
    margin-top: 0.5rem;
}
.success-stories-card-image h2{
    font-family: Mulish;
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0 0;
}
.story-teller-name{
    margin: 4px 0;
}
.sttory-teller-location{
    font-family: Mulish;
    font-size: 1.7vw;
    text-align: center;
}
.success-stories-card-text {
    padding-top: 0.5rem;
    width: 28vw;
    max-width: 384px;
    height: 100%;
    overflow: hidden;
}
.success-stories-card-text p{
    font-size: 1.3vw;
    font-weight: 300;
    padding: 0 0.5rem 0.5rem 0.5rem;
}


/* Who We Are section started  */
.card-container{  
    flex-direction: row;
    justify-content: space-between;
}

.profile-card{
    width: 19.7vw;
    max-width: 232px;
    height: 23vw;
    max-height: 269px;
}
.who-we-are-profile-image {
    width: 13vw;
    max-width: 178px;
    height: 13vw;
    max-height: 178px;

}
.profile-name {
    font-size: 2.9vw;
}
.designation{
    font-size: 1.8vw;
}


/* Sponsor Section */
.sponsor-card-container{
    margin-top: 2rem;
    flex-direction: row;
}
.sponsor-card{
    width: 10vw;
    max-width: 137px;
    height: auto;
    margin: 0 1.5rem;

}


/* FAQ section started  */

/* FAQ section started  */

.faq-card{
    margin: 0.6rem 0.3rem;
    padding: 0 0.3rem;
    border-radius: 10px;
    box-shadow: 0 0 28.5px 1.5px rgba(10, 34, 57, 0.07);
}
.faq-card-upper-container{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.faq-card-arrow{
    width: 2.8rem;
}
.svg-arrow {
    width: 42px;
}
.faq-card-srno-container{
    display: flex;
    margin: 0 2rem;
}
.faq-card-srno{
    font-size: 26px;
    font-weight: bold

}
.faq-card-text{
    padding: 0 0 0 0.3rem;
    width: 1000px;
}
.faq-card-text h3{
    font-size: 26px;
    font-weight: bold;
}
.faq-card-bottom-container{
    padding: 0 16px 16px 150px;
}
.faq-card-bottom-container p{
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}


/* Contact Section  */
.contact-container{
    display: flex;
    justify-content: space-between;
}

.contact-container-image{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.contact-container-image img{
    width: 18.75rem;
    height: 18.75rem;
}
.contact-container-input{
    width: 30rem;
}
.contact-input{
    height: 3.8rem;
    padding: 12px;
    font-size: 1rem;

}

.contact-message-input{
    font-size: 1rem;
}


/* Footer Section  */
footer{
    width: 100%;
}
.footer-container{
    margin: 0 auto;
    max-width: 1178px;
    flex-direction: row;
    margin-top: 1rem;
    padding: 0.5rem;
    height: 8.5rem;
    justify-content: center;
}
.copy-right-text{
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 1.4rem;
}
.social-media-icon-container{
    order: 2;
    width: 50%;
    align-items: center;
    justify-content: right;
}
.social-media-icon-div{
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    padding: 1rem;

}
.social-media-icon{
    fill: var(--boldColor);
    width: 100%;
}

/* Home Page Ended Here  */

/* Registration Page Started  */

.input-container{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.image-container-image img{
    width: 185px;
    height: 185px;
}
.upload-icon{
    width: 185px;
    cursor: pointer;
}
.upload-icon p{
    font-size: 1.8rem;
}

.biodata-container{
    width: 47%;
}

.biodata-container label{
    font-size: 1.3rem;
}
.biodata-field{
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
    padding: 0 0 0 0.5rem;
    border-radius: 5px;
    border: solid 2px var(--lightColor);
    background-color:var(--whity);
    font-size: 1.2rem;

}
.biodata-field-textarea{
    height: 7rem;
}

.other-info-container{
    margin-bottom: 2rem;
}
#otherInfo{
    height: 260px;
    width: 100%;
}

.btn-container{
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
}

.btn-reg{
    margin: 1rem;
    width: 14rem;
    height: 4rem;
    font-size: 1.8rem;
    border: 2px solid var(--pinky);
}
.btn-reg:hover{
    cursor: pointer;
}
.btn-cancel{
    
    background-color: var(--whity);
    color: var(--boldColor);
}
.btn-cancel:hover{
    background-color: var(--pinky);
    color: var(--whity);
}

.agree-checkbox{
    font-size: 1.4rem;
}
